---
layout: archive
title: "Podcast Interviews"
subtitle: "As part of the Yale Journal of Biology and Medicine, I contribute to their podcast, where I propose episode ideas, invite expert guests, conduct research, and assist with audio editing. I am dedicated to making science and health information more accessible and engaging through clear, barrier-free formats, and find great excitement in creating humanised content that fosters greater understanding."
permalink: /podcasts/
author_profile: true
---

{% if page.subtitle %}
  <p class="archive__subtitle" style="border-bottom: none; padding-bottom: 0; margin-bottom: 1em;">{{ page.subtitle }}</p>
{% endif %}

{% assign sorted_podcasts = site.podcasts | sort: "order" %}
{% for post in sorted_podcasts reversed %}
  {% include archive-single-podcast.html %}
{% endfor %}
