---
layout: archive
title: "Podcast Interviews"
subtitle: "As part of the Yale Journal of Biology and Medicine, I contribute to their podcast, where I propose episode ideas, invite expert guests, conduct research, and assist with audio editing. I am dedicated to making science and health information more accessible and engaging through clear, barrier-free formats, and find great excitement in creating humanised content that fosters greater understanding."
permalink: /podcasts/
author_profile: true
---
{% assign sorted_podcasts = site.podcasts | sort: "order" %}
{% for post in sorted_podcasts %}
  {% include archive-single-podcast.html %}
{% endfor %}
